body {
	background-image:
		url("ImageBG.jpg");
		background-color: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: absolute; 
	background-attachment: fixed;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
}
h1 {
	color: #FFFFFF;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	font-size: 1.5vw;
}
h2 {
	color: #FFFFFF;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	margin-bottom: -10px;
	font-size: 1vw;
}
p {
	color: #AAAAAA;
	font-family: Arial, Gadget, sans-serif;
	text-align: center;
	font-size: 0.75vw;
}
a {
	color: #88AAFF;
}
.material-icons {
	font-size: 20px;
}
.image-profile {
	border: 5px solid #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 75%;
}
.image-border {
	border: 5px solid #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: 95%;
}
.column-1 {
	float: left;
	width: 30%;
	margin: auto;
	position: fixed;
}
.column-2 {
	float: right;
	width: 70%;
	margin: auto;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.division-left-1 {
	padding: 5px 0px 25px 0px;
	border: 5px solid #000000;
	background-color: rgba(0, 0, 0, 0.85);
	margin: 20px 10px 20px 20px;
}
.division-left-2 {
	padding: 0px 15px 7px 15px;
	border: 5px solid #000000;
	background-color: rgba(0, 0, 0, 0.85);
	margin: 20px 10px 20px 20px;
}
.division-middle {
	padding: 0px 0px 5px 0px;
	border: 5px solid #000000;
	background-color: rgba(0, 0, 0, 0.85);
	margin: 20px 10px 20px 10px;
}
.videoWrapper {
	position: relative;
    padding-bottom: 50%;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
}
